@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-dark: #1D3B31;
  --color-brand-secondary: #54625A;
  --color-brand-muted: #A58C6B;
  --color-brand-light: #F6F2E7;
  --color-brand-surface: #FFFFFF;

  --font-sans: "Inter", sans-serif;
}

body {
  background-color: var(--color-brand-light);
  color: var(--color-brand-dark);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
}

